body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:414px;
  height:736px;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:414px;
  height:50px;
  font-size:20px;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u2804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:64px;
  width:23px;
  height:23px;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:451px;
  width:246px;
  height:40px;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:165px;
  width:334px;
  height:38px;
}
#u2808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:224px;
  width:334px;
  height:38px;
}
#u2809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
