body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:779px;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:10px;
  width:300px;
  height:779px;
  font-size:16px;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:893px;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:893px;
  font-size:16px;
}
#u6676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:133px;
}
#u6677 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:10px;
  width:300px;
  height:133px;
  font-size:16px;
}
#u6678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
