body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1143px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5948 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:666px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5950 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:483px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5952 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:764px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u5954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5954 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:764px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u5956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5956 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:666px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5958 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:764px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:764px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:666px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:547px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:607px;
  width:0px;
  height:0px;
}
#u5966_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u5966_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:607px;
  width:0px;
  height:0px;
}
#u5968_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u5968_seg1 {
  border-width:0px;
  position:absolute;
  left:-360px;
  top:22px;
  width:364px;
  height:8px;
}
#u5968_seg2 {
  border-width:0px;
  position:absolute;
  left:-360px;
  top:22px;
  width:8px;
  height:37px;
}
#u5968_seg3 {
  border-width:0px;
  position:absolute;
  left:-366px;
  top:46px;
  width:20px;
  height:20px;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:-232px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:607px;
  width:0px;
  height:0px;
}
#u5970_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u5970_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:21px;
  width:364px;
  height:8px;
}
#u5970_seg2 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:21px;
  width:8px;
  height:38px;
}
#u5970_seg3 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:46px;
  width:20px;
  height:20px;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:726px;
  width:0px;
  height:0px;
}
#u5972_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u5972_seg1 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:16px;
  width:99px;
  height:8px;
}
#u5972_seg2 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:16px;
  width:8px;
  height:22px;
}
#u5972_seg3 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:25px;
  width:20px;
  height:20px;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:726px;
  width:0px;
  height:0px;
}
#u5974_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u5974_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:17px;
  width:99px;
  height:8px;
}
#u5974_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:17px;
  width:8px;
  height:21px;
}
#u5974_seg3 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:25px;
  width:20px;
  height:20px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:726px;
  width:0px;
  height:0px;
}
#u5976_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u5976_seg1 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:16px;
  width:99px;
  height:8px;
}
#u5976_seg2 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:16px;
  width:8px;
  height:22px;
}
#u5976_seg3 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:25px;
  width:20px;
  height:20px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:726px;
  width:0px;
  height:0px;
}
#u5978_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u5978_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:99px;
  height:8px;
}
#u5978_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:16px;
  width:8px;
  height:22px;
}
#u5978_seg3 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:25px;
  width:20px;
  height:20px;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:764px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:764px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:726px;
  width:0px;
  height:0px;
}
#u5984_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u5984_seg1 {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:20px;
  width:88px;
  height:8px;
}
#u5984_seg2 {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:20px;
  width:8px;
  height:18px;
}
#u5984_seg3 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:25px;
  width:20px;
  height:20px;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:726px;
  width:0px;
  height:0px;
}
#u5986_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u5986_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:20px;
  width:90px;
  height:8px;
}
#u5986_seg2 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:20px;
  width:8px;
  height:18px;
}
#u5986_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:25px;
  width:20px;
  height:20px;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:216px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:95px;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:92px;
  width:720px;
  height:95px;
  font-size:16px;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
#u5994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:38px;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:261px;
  width:509px;
  height:38px;
  font-size:16px;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  word-wrap:break-word;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:359px;
  width:604px;
  height:99px;
}
#u5997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:129px;
  word-wrap:break-word;
}
#u5999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:23px;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:466px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:462px;
  word-wrap:break-word;
}
#u6001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:133px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:129px;
  word-wrap:break-word;
}
#u6003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:23px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:23px;
  width:466px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:462px;
  word-wrap:break-word;
}
#u6005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:133px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:129px;
  word-wrap:break-word;
}
#u6007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:25px;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:46px;
  width:466px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:462px;
  word-wrap:break-word;
}
#u6009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:133px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:129px;
  word-wrap:break-word;
}
#u6011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:23px;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:71px;
  width:466px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:462px;
  word-wrap:break-word;
}
#u6013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:329px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
