body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:414px;
  height:736px;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:414px;
  height:50px;
  font-size:20px;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u1768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:64px;
  width:23px;
  height:23px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:636px;
  width:287px;
  height:16px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u1772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:181px;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:192px;
  width:239px;
  height:181px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:691px;
  width:274px;
  height:40px;
  font-size:16px;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:270px;
  word-wrap:break-word;
}
#u1776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:383px;
  width:352px;
  height:57px;
  font-size:16px;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u1778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:632px;
  width:25px;
  height:25px;
}
#u1779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
